<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple HTML Page</title>
</head>
<body style="background-color: rgb(193, 125, 17); color: rgb(51, 102, 204);">
    <header>
        <h1>Welcome to ehtesham's Simple Webpage</h1>
    </header>
    
    
    <main>
        <h2>About Me</h2>
        <p>This is a simple website created by {{ ansible_hostname }} for demonstration purposes.</p>
    </main>
    
    <footer>
        <p>&copy; 2023 Your Name</p>
    </footer>
</body>
</html>



-----------------------------------------------------------------------------------------



<!DOCTYPE html>
<html>
<head>
    <title>Styled Page</title>
</head>
<body style="background-color: green; color: white;">
    <h1>THIS WEB SERVER IS DEPLOYED IN "{{ ansible_default_ipv4.address }}" HOSTNAME="{{ ansible_fqdn }}"</h1>
</body>
</html>





light blue rgb(0, 255, 255)
txt  black

